<!DOCTYPE = html>
<html lang="es">
	
<head>

	<title></title>
	
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>centromedico</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		<link rel="stylesheet" href="fontawesome/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="slick/slick.css" type="text/css" />
		<link rel="stylesheet" href="slick/slick-theme.css" type="text/css" />
		<link rel="stylesheet" href="css/animate.css" type="text/css" />
		<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

		<link rel="stylesheet" type="text/css" href="/style-v=2.css" />


</head>
	
	<div class="section padding">


		

		<div class="post">
			{{{data.quienessomos.content}}}
			{{#if data.quienessomos.image}}<img src="{{{cloudinaryUrl data.quienessomos.image width=750 height=450 crop='fit' }}}" class="img-responsive">{{/if}}
			
		</div>


			
			

			
			
		</div>

	</div>
	
	