
@charset "utf-8";
@import "reset.css";


body { margin: 0 auto; font-family: 'Oswald'; font-size: 16px; color: #268635; -webkit-font-smoothing: antialiased; }

/* links  */ 

a { color: #268635; -webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease; }
a:hover { color: #666; -webkit-transition: all 0.2s ease; }

.link1, .link6 { display: inline-block; background-color: white; width: 130px; height: 40px; padding-top: 12px; color: #268635; text-align: center; font-family: 'Oswald'; font-size: 14px; }
.link1:hover, .link6 { color: white; background-color: #666; }
.link6:hover { background-color: white; color: #268635;  }

.link2, .link4, .link5 { display: inline-block; color: white; text-align: center; width: 198px; height: 53px; padding-top: 18px; font-family: 'Oswald'; background-image: url('imgs/bg_boton.png'); background-repeat: no-repeat; background-position: left top; }
.link2:hover, .link4:hover, .link5:hover { color: white; background-image: url('imgs/bg_boton_on.png'); }

.link4, .link5 { float: left; width: 170px; margin-top: 40px; } 

.link_white { color: white; } .link_white:hover { color: #666; }

/* títulos y texto */ 

p {  font-family: "Oswald" }
h1 {
  font-family : 'Oswald';
  font-size : 56px;
  color : #268635;
  
}
h2 { font-family: 'Oswald'; font-size: 32px; margin-bottom: 10px; text-transform: uppercase; }
h3 { display: inline-block; font-family: 'Oswald'; font-size: 3vw; border-bottom: 2px solid white; padding-bottom: 2px; margin-bottom: 5px; }
h4 { font-weight: normal; font-family: 'Oswald'; font-size: 40px; }
.big { font-size: 25px; }

hr, .hr3 { color: #268635;}
.hr2 { border-bottom: 6px solid #268635; float: right; width: 60px; margin: 40px 0; }
.hr3 {float: right; margin: 40px 0; margin-right: 15%; margin-top: 20px; }

/* colores  */ 

.bg_main { ; color: #268635; }
.bg_gray { background-color: #f4f4f4; }
.clr_main { color: #268635; font-family: 'Oswald'}
.nomobile { display: none; }

.pre-load-web { width:100%; height: 100%; width: 100vw; height: 100vh; position:absolute; position:fixed; left:0; top:0; z-index:100000 }
.pre-load-web .imagen-load { left:50%; margin-left: -25px; position:absolute; top: 50%; margin-top: -25px; }

/* arreglos  */ 
#uam { width: 230px; margin-top: 1vw;}
.center { text-align: center; }
.padding { padding: 40px 20px; }
.image:hover { opacity: 0.7; }
.fullscreen { height: 100vh; }
.top { margin-top: 60px; }
.top2 { padding-top: 140px; }

/* estructura  */ 

.main { position: absolute; width: 100%; }
.section { position: relative; float: left; width: 100%; background-repeat: no-repeat; background-position: center top; background-size: 100% auto; }
.cont { margin: 0 auto; width: 964px; }
.fila { float: left; width: 100%; }

/* header  */ 

.header1 { display: flex; justify-content: space-between; position: fixed; width: 100%; padding-bottom: 16px; z-index: 2000; padding: 15px; background-color: rgba(255,255,255, 0.9);}
.header_menu { text-align: center; margin-top: 1.5vw; }
.header_menu li { display: inline-block; margin-left: 40px; }
.nomobile { display: block; }
#turnos { color: #ff8925; margin-left: 10vw; }

#wasapresp { display: none; font-size: x-large; margin: 2vw;}
.nav_main { position: fixed; width: 100%; height: 100%; height: 100vh; z-index: 3000; display: none; }
.nav_cont { width: 100%; height: 100%; -ms-display: flex; display: -webkit-flex; display: flex; align-items:center; justify-content: center; background-color: #268635;  }
.nav li { margin-bottom: -10px; }
.nav li a, .select { color: white; font-family: 'Oswald'; font-size: 64px; }
.nav li a:hover { font-size: 70px; }
.close { position: absolute; top: 40px; right: 40px; color: white; }
.select { text-decoration: underline; }

/* home  */ 

.slick div, .slick { width: 100%; height: 100%; overflow: hidden; }
.slick div img { width: 100%; }
.social { position: absolute; bottom: 30px; left: 40px; z-index: 1000; float: right;}
.social li { display: inline-block; margin-right: 5px; }
.social li a { color: white; width: 28px; height: 28px; background-color: #268635; border-radius: 50%; text-align: center; padding-top: 6px; }
.social li a:hover { color: white; background-color: #666; }
.down { position: absolute; left: 50%; bottom: 20px; color: white; width: 200px; margin-left: -100px; }
.slick-dots { right: 10px; }
/* quienes somos  */ 

#quienessomos { -ms-display: flex; display: -webkit-flex; display: flex; align-items:center; justify-content: center; }
.quienes { width: 70%; width: 65vw; }
#anima2 { color: dimgrey; font-family: Oswald; font-size: 14px; font-style: normal; font-variant: small-caps; font-weight: 100; line-height: 28px; }
.equipo_col_left { float: left; width: 45%; padding: 0 30px; }
.equipo_col_right { float: right; width: 55%;  padding: 0 30px;  }
.doctores{ width: 100%; height: 60vw; }
.cartas { width: 300px; height: 350px; border-color: 1px solid #268635; }
.docs { display: inline-flex; }
/* servicios  */ 

.listado { position: relative; float: left; width: 100%; -ms-display: flex; display: -webkit-flex; display: flex; align-items: flex-start; justify-content:space-between; padding: 0 40px; }
.item { display: inline-block; width: 32%; padding-right: 40px; color: white; display: none; }
.servicios hr { margin-left: 40px; }
.atras { position: absolute; left: -10px;; cursor: pointer; top: 40%; }
.adelante { position: absolute; right: -10px;; cursor: pointer; top: 40%; }

#listado_servicios_mobile { position: relative; display: none; padding: 20px; }
.texto_largo { display: none; }
.services {
 
 margin: 10vw; justify-content: space-between; display: -ms-flexbox; -ms-flexbox-wrap: wrap; -ms-flexbox-direction: column; -webkit-flex-flow: row wrap; flex-flow: row wrap; display: -webkit-box; display: flex;
}

.service {
  width: 400px;
  height: 400px;
  text-align: center;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 4vw;
  margin-bottom: 3vw;
  
}

.service .icon-holder {
  position: relative;
  top: 100px;
  display: inline-block;
  margin-bottom: 40px;
  padding: 10px;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.service .heading {
  position: relative;
  top: 80px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
  width: 40px;
}

.service:hover {
  border-color: #268635 ;
}

.service:hover .icon-holder {
  top: -30px;
}

.service:hover .heading {
  top: -30px;
}

.service .description {
  width: 100%;
  margin:  auto;
  object-fit: inherit;
  opacity: 0;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.service:hover .description {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}



.unis {font-size: 0; display: -ms-flexbox; -ms-flexbox-wrap: wrap; -ms-flexbox-direction: column; -webkit-flex-flow: row wrap; flex-flow: row wrap; display: -webkit-box; display: flex;}
.unis div { -webkit-box-flex: auto; -ms-flex: auto; flex: auto; object-fit: contain; }
.unis div img { width: 49.5vw; height: auto; object-fit: contain; max-width: 100%;}


/* noticias  */ 

#titnoti { font-size: 7vw; }
.blog { margin-left: 500px; }
.icono{ float: left; margin-left: 10vw; }

.cositos{ height: 1000px; width: auto;  margin-top: 3vw; }

.titulares{ margin-top: 3vw; padding-right: 2vw; }
/* galería  */ 

.item_galeria { width: 100%; }
.galeria { font-size: 0; display: -ms-flexbox; -ms-flexbox-wrap: wrap; -ms-flexbox-direction: column; -webkit-flex-flow: row wrap; flex-flow: row wrap; display: -webkit-box; display: flex;}
.galeria div { -webkit-box-flex: auto; -ms-flex: auto; flex: auto; width: 250px; object-fit: contain; }
.galeria div img { width: 100%; height: auto; object-fit: contain; max-width: 100%;}


/* contacto  */ 
#ayudarte{ text-align: left; padding-bottom: 2vw; }

.contacto_col_left {; width: 45%; padding-right: 20px; }
.contacto_col_right {  margin-left: 8vw; text-align: center; width: 55%; padding-left: 20px; margin-top: 5vw; }
.mise {height: 50vw; }

.form { float: left; width: 100%; background-color: white; padding: 40px; margin-top: 40px; }
input, textarea { float: left;  background-color: white; color: #268635; border: 0; border-bottom: 1px solid #268635; width: 49%; height: 40px; margin-bottom: 2%; border-radius: 0; font-family: 'Oswald'; }
textarea { width: 100%; padding-top: 10px; height: 180px; height: 21vh; }
button { border: 0; margin: 0; display: inline-block; color: white; background-color: #268635; padding-top: 4px; width: 140px; height: 40px; font-family: 'Oswald'; cursor: pointer; font-size: 14px; }
button:hover { background-color: #666; }

.social_contacto { margin: 20px 0; }
.social_contacto li { display: inline-block; margin-right: 5px; }
.social_contacto li a { color: #666666; width: 28px; height: 28px; background-color: white; border-radius: 50%; text-align: center; padding-top: 6px; }
.social_contacto li a:hover { color: white; background-color: #268635; }

.boton{ width: 250px; }

/* mapa y footer  */ 
#c2 { float: right; }
#map { float: left; width: 100%; height: 50vh; }
#map iframe { width: 100%; }
.nav_footer { display: flex; overflow: hidden; justify-content: space-between;}
.nav_footer li { display: block; font-family: 'Oswald'; font-size: 14px; margin-left: 2vw; margin-top: 1vw; }
.logo_footer { width: 200px; float: right;  }
#footer { background-color: #268635; }
#dire { color: white; padding-top: 1vw; text-align: center; margin-right: 10vw; margin-left: 20vw; margin-top: 150px; }

@media (max-width: 900px) {

	body { font-size: 13px; }

	.link1 { font-size: 12px; }
	.link2 { margin-bottom: 2px; }
	
	p { margin-bottom: 20px; }
	h1 { font-size: 30px; line-height: 35px; }
	h2 { font-size: 20px; margin-bottom: 10px; }
	h3 { font-size: 16px; }
	h4 { font-size: 20px; }

	.big { font-size: 16px; }
	
	
	
	.hr2 { border-bottom: 4px solid #268635; text-align: center; margin-top: 0; }
	.hr3 { margin: 20px 0; margin-right: 15%; margin-top: 20px; }

	
	.top { margin-top: 40px; }
	.top2 { padding-top: 80px; }

	.section { background-size: auto 100%; }
	.cont { width: 100%; }
	#wasapresp { display: inline-flex; font-size: 30px; margin: 3vw; }
	.header { padding: 20px; }
	.header_menu { margin-top: 8px; }
	.header_menu li { margin-left: 5px; }
	.logo img { width: 20vw; }
	.header_menu { display: none; }
	.nomobile { display: block; }
	
	.nav li { margin-bottom: -10px; }
	.nav li a, .select { font-size: 36px; }
	.nav li a:hover { font-size: 40px; }
	.close { top: 20px; right: 20px; }
	
	.slick div img { height: 100%; width: auto; }
	.social { left: 20px; }
	.social li a { padding-top: 7px; }
	
	#quienessomos { height: auto; }
	.quienes { width: 100%; padding: 20px; margin-top: 20px; }

	
	.equipo_col_left, .equipo_col_right { width: 100%; padding: 0; }
	
	#listado_servicios { display: none; }
	#listado_servicios_mobile { display: block; }
	.item { width: 100%; padding-right: 20px; }
	.servicios hr { margin-left: 0; }
	.atras { position: absolute; left: -10px; cursor: pointer; top: 40%; }
	.adelante { position: absolute; right: -10px;; cursor: pointer; top: 40%; }
	.service { display: block; height: 400px; width: 350px; }
	.services { display: block; text-align: center; padding-bottom: 10px;}
	.noticia { margin-bottom: 10px; }
	.noticia_txt { font-size: 13px; }
	.cositos { display: none; }
	.noticias { width: 100%; }
	.ancho { margin-bottom: 20px; }
	.blog { margin-left: 0; }
	.compartir { margin-top: 20px; }
	.compartir li { float: left; padding: 20px; margin: 0; width: 33%; height: auto; }
	.escondidas { display: none; }
	.item_galeria { width: 50%; height: 50vw; }
	.galeria div { -webkit-box-flex: auto; -ms-flex: auto; flex: auto; width: 200px; object-fit: contain; }
	#contacto { height: auto; background-image: url('imgs/fotonoti.jpg'); }
	.contacto_col_left, .contacto_col_right { margin-left: 0; width: 100%; padding: 0; text-align: center; display: inline-flex; }
	.form { padding: ; margin-top: 0; margin-bottom: 20px; }
	button { font-size: 12px; }
	.mise { display: none; }
	
	.social_contacto {  }
	.social_contacto li { display: inline-block; margin-right: 5px; }
	.social_contacto li a { color: #666666; width: 28px; height: 28px; background-color: white; border-radius: 50%; text-align: center; padding-top: 6px; }
	.social_contacto li a:hover { color: white; background-color: #268635; }
	
	.nav_footer { font-size: 10px; }
	#footer { text-align: center; display: none;}
	.logo_footer { position: static; right: auto; top: auto; margin: 0 auto;  }
	
	.slick-dots { right: 10px; }
	#equipo_descripcion .equipo_col_left, #equipo_descripcion .equipo_col_right { padding: 0 40px; }

}
